services:
  frontend:
    build:
      context: ./src/app
      dockerfile: Dockerfile
    image: rescam-app
    container_name: rescam-app
    ports:
      - "3030:80"
    depends_on:
      - api

  api:
    build:
      context: ./src/api
      dockerfile: Dockerfile
    image: rescam-backend
    container_name: rescam-backend
    ports:
      - "5055:5055"
    volumes:
      - ./secrets:/home/app/.config/gcloud:ro
      - ./src/models:/app/models:ro
    environment:
      - PORT=5055
      - GOOGLE_APPLICATION_CREDENTIALS=/home/app/.config/gcloud/application_default_credentials.json
      - GCP_PROJECT_ID=articulate-fort-472520-p2
      - GCS_BUCKET_NAME=rescam-dataset-bucket
      - PUBSUB_TOPIC_NAME=gmail-notifications
      - LOG_LEVEL=debug
      - NODE_ENV=development
      - DEBUG=*
    env_file:
      - ./src/api/.env
